/**Global css**/
html {
  background: url(../images/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica-Neue',sans-serif;
}

body {
  margin: 0;
  font: 14px helvetica Aria;
}


/**Menu styling*/

#menu {
  background-color: black;
  height: 70px;
}

#logo {
  float: left;
  font-size: 25px;
  margin-top: -10px;
  color: #07BBCA;
}

#nav {
  float: right;
}

#nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 10px;
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#nav ul li a:hover {
  color: #07BBCA;
}


/**section1 styling**/


#footer {
  background-color: black;
  color: gray;
  height: 100px;

}


.copyright {
  float: right;
  padding: 30px;
  text-align: center;

}
